<p><b>Item Number:</b> <%= @content_block.item_number %></p>
<p><b>Header Type:</b> <%= @content_block.header_type.name %></p>

<p><b>Summary Description:</b> <%= @content_block.summary_description %></p>
<p><b>Description:</b> <%= @content_block.description %></p>
<p><b>Photo:</b> <br/><br/><img src="<%= @content_block.attachment_link %>" alt="Photo" width="300px"><br/></p>