<p><b>Header Type:</b> <%= @header.header_type.name %></p>
<p><b>Item Number:</b> <%= @content_block.item_number %></p>

<p><b>Summary Description:</b> <%= @header.summary_description %></p>
<p><b>Description:</b> <%= @header.description %></p>
<p><b>Photo:</b> <br/><br/><img src="<%= @header.attachment_link %>" alt="Example Photo"><br/></p>
